<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #d6d2d2;
        font-family: 'Roboto', sans-serif;
    }

    section.chat__section {
        width: 800px;
        max-width: 90%;
        background: rgb(124, 120, 120);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }

    .brand {
        padding: 20px;
        background: #201f1f;
        display: flex;
        align-items: center;
    }

    .brand h1 {
        text-transform: uppercase;
        font-size: 20px;
        color: rgb(28, 192, 115);
        margin-left: 10px;
    }

    .message__area {
        height: 500px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-top: 40px;
    }

    textarea {
        width: 100%;
        border: none;
        padding: 20px;
        font-size: 16px;
        outline: none;
        background: #FBFBFB;
    }

    .message {
        padding: 20px;
        border-radius: 4px;
        margin-bottom: 40px;
        max-width: 300px;
        position: relative;
    }

    .incoming {
        background: #e0c52d;
        color: #fff;
    }

    .outgoing {
        background: #f1ef4ee7;
        color: #787986;
        margin-left: auto;
    }

    .message h4 {
        position: absolute;
        top: -20px;
        left: 0;
        color: #333;
        font-size: 14px;
    }
    @media only screen and (max-width:767px) 
    {
        .chat_section{
            margin-top: 150px;
        }
    }
</style>


<section class="chat_section bg-white">
    <div class="container col-md-6">
        <div class="brand">
            <div class="text-center ">
                <h1 class="border border-success text-warning">AVENUE</h1>
            </div>
            <h1>Chat</h1>
        </div>
        <div class="message__area border border-dark"></div>
        <div class="">
            <textarea class=" border border-success" id="textarea" cols="30" rows="1" placeholder="write a message"></textarea>
        </div>
    </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()
    let roomName = "<%= roomName %>"
    let name = "<%= user %>"
    let textarea = document.querySelector('#textarea')
    let messageArea = document.querySelector(".message__area")
    

    textarea.addEventListener('keyup', (e) => {
        if (e.key === 'Enter') {
            sendMessage(e.target.value)
        }
    })

    function sendMessage(message) {
        let msg = {
            user: name,
            message: message.trim()
        }
        //Append
        appendMessage(msg, 'outgoing')
        textarea.value = ''
        scrollToBottum()
        //send to server

        socket.emit('message', roomName, msg)
    }

    function appendMessage(msg, type) {
        let mainDiv = document.createElement('div')
        let className = type
        mainDiv.classList.add(className, 'message')


        let markup = `
                <h4>${msg.user}</h4>
                <p>${msg.message}</p>
            `
        mainDiv.innerHTML = markup
        messageArea.appendChild(mainDiv)
    }

    //recieve message

    socket.on('message', (msg) => {
        appendMessage(msg, 'incoming')
        scrollToBottum()
    })

    function scrollToBottum() {
        messageArea.scrollTop = messageArea.scrollHeight
    }
</script>