<section class="memberHeader"
style="background-repeat: no-repeat; background-position: center top; background-size: cover; height: 300px;">
<div class="container">
  <div class="row text-dark">
    <div class="col-md-12 p-5 hidden">

    </div>
    <div class="">
      <div style="float: left;" class="headAlign2">
        <div class="profile mr-3" >
          <img src="/images/members/<%= member._id %>.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail">
        </div>
        <div class="media-body mb-5">
          <div class="mt-0 mb-0 " style="font-size:larger;"><b><%= member.name %></b> </div>
          <p class="small mb-4"><i class="fas fa-map-marker-alt mr-2"></i><%= member.city %> </p>
      </div> 
      </div>
    </div>
  </div>
</div>
</section> 