<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <div class="col-md-6 p-5 hidden">

            </div>
            <h2 class="text-center">LogIn</h2>
            <form action="admin/login" method="post" enctype="application/x-www-form-urlencoded">
            <!-- {{#if loginErr}}
                <p class="error">{{loginErr}}</p>
            {{/if}} -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="Email" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <!-- <a href="/signup">Create new Account ?</a> -->
                <div class="pt-3">
                    <button type="submit" class="btn btn-primary float-right">LogIn</button>
                </div>
            </form>
        </div>
    </div>
</div>