<body id="page-top" class="bg-light">
    <!-- Navigation-->
    <section class="bg-dark" style="height: 200px; padding: 0%;">
        <div class="container">
        <div class="row">
            <a class="navbar-brand text-dark" href="/">
            <div class=" text-center text-warning">
                <h1 class="border border-success">AVENUE</h1>
            </div>
            <div class=" text-primary text-center pt-5 h1">
            <h2 class="float-right text-uppercase">Admin Panel</h2>
        </div>
        </a>
        
        </div>
        <!-- <a class="navbar-brand" href="#page-top"><img src="/images/navbar-logo.svg" alt="..." /></a> -->
        
        
    </div>
</section>