
<!-- Footer-->
<footer class="footer py-4">
    <hr>
    <div class="container">
        <div class="row">
            <div class=" row upper-footer p-4">
                <div class="col-md-4 p-3">
                    <h3 class="footer-head d-flex justify-content-start">ABOUT</h3>
                    <p class="d-flex justify-content-start">Avenue Hospitality is a full-service event planning and design company providing a wide array of event services from venue styling to vendor management, event staffing, and more</p>
                </div>
                <div class="col-md-4 p-3">
                    <h3 class="footer-head d-flex justify-content-start">AVENUE HOSPITALITY GROUP</h3>
                    <p class="d-flex justify-content-start m-1">Avenue Hospitality is a full-service</p>
                    <p class="d-flex justify-content-start m-1">event planning and design company providing</p>
                    <p class="d-flex justify-content-start m-1">a wide array of event services from venue styling</p>
                </div>
                <div class="col-md-4 p-3">
                    <h3 class="footer-head d-flex justify-content-start">CONTACT US</h3>
                    <p class="d-flex justify-content-start m-1">#77/1 8th Cross,Sudhama Nagar,</p>
                    <p class="d-flex justify-content-start m-1">Sudhama Nagar,Kerala</p> 
                    <p class="d-flex justify-content-start m-1">4114005695</p>
                    <p class="d-flex justify-content-start m-1">avenuehospitality@gmail.com</p>
                </div>
            </div><hr>
            <div class="row middle-footer pb-2">
                <nav id="" class="navbar  px-3 text-dark">
                    <a class="navbar-brand text-dark" href="/"><div class=" text-center text-warning">
                        <h1 class="border border-success">AVENUE</h1>
                    </div></a>
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="/about">ABOUT US</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="#scrollspyHeading2">TEAM</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="#scrollspyHeading2">PRIVACY POLICY</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="/contact">CONTACT</a>
                      </li>
                    </ul>
                  </nav>               
            </div><hr>
            <div class="row align-items-center lower-footer">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2022</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                </div>
            </div>
        </div>
    </div>
</footer>