<section class="aboutHeader"
  style="background-repeat: no-repeat; background-position: center top; background-size: cover; height: 300px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-5 hidden">

      </div>
      <div class="col-md-6">
        <h1 class="text-center text-white" style="font-size: 90px;">ABOUT US</h1>
      </div>
    </div>
  </div>
</section>
<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center p-3">
                <div class="text-center">
                    <h2 style="font-size: 50px;">AVENUE</h2>
                    <h2 style="font-size: 50px;">HOSPITALITY</h2>
                </div>
            </div>
            <div class="col-md-6 section-para">
                <div>
                    <p>Founded in 2022, Avenue Hospitality was created out of a love for dynamic events and fine dining. Our goal is to provide unparalleled event services and outstanding customer service.</p>
                </div>
                <div>
                    <p>Big or small, we are committed to creating one-of-a-kind events that your guests will remember for years to come. Customization is guaranteed, from your floor plan to your bar menu and signature lounge furniture.</p>
                </div>
                <div>
                    <p>We work with the best vendors to provide planning and design services at the venue of your dreams, and we also offer full services through exclusive venue management and in-house catering.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-lignt" style="background-color:  #ffe066;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div>
                    <div>
                        <h5>SOCIAL GATHERING</h5>
                        <p class="section-para">Getting engaged? Going all out for your next birthday? Avenue can help you throw the party of your dreams, turning your vision into a reality and coordinating everything you need from the design, event rentals, and even entertainment.</p>
                    </div>
                    <div>
                        <h5>WEDDING</h5>
                        <p class="section-para">Ease the stress of planning your big day with our team by your side. From coordinating your entire wedding weekend and bringing your design ideas to life, Avenue will help you every step of the way.</p>
                    </div>
                    <div>
                        <h5>CORPORATE EVENTS</h5>
                        <p class="section-para">Bring your brand to life through your next event with Avenue. We’ll work with your company to coordinate and manage everything you need to wow your employees and guests, from meeting planning and on-site coordination to security and transportation needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div>
                    <img src="https://www.ciquk.org/wp-content/uploads/2017/09/wedding-event-1.jpg" alt="" class="sqs-block-image">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="row text-center">
                    <h1>EVENT SERVICES</h1>
                    <p class="section-para">--some of our many area of expertise--</p>
                </div>
            </div>
        </div>
            <div class="row text-center p-4">
                <div class="row col-sm-12 col-lg-6 col-xl-4 d-flex justify-content-center pt-5">
                    <p class="p-3 serviceHeading" style="font-size: 28px;">EVENT PLANNING</p>
                    <a href=""><img src="/images/eventPlan1.jpg" class="sqs-block-image" alt="..."></a>
                    <p class="section-para">The best way to enjoy the event planning process is to work with a professional planner. Let your Avenue event team coordinate the details, so you can relax and have fun as your vision becomes a reality.</p>
                </div>
                <div class="row col-sm-12 col-lg-6 col-xl-4 d-flex justify-content-center pt-5">
                    <p class="p-3 serviceHeading" style="font-size: 28px;">EVENT DESIGN</p>
                    <a href=""><img src="/images/eventDesign.jpg" class="sqs-block-image" alt="..."></a>
                    <p class="section-para">Your Avenue event team will collaborate with you to design your event, creating an inspiration board and floor plan based on your unique vision. From centerpieces to seating charts, with us customization is guaranteed.</p>
                </div>
                <div class="row col-sm-12 col-lg-6 col-xl-4 d-flex justify-content-center pt-5">
                    <p class="p-3 serviceHeading" style="font-size: 28px;">EVENT PRODUCTION</p>
                    <a href=""><img src="/images/eventProduction.jpg" class="sqs-block-image" alt="..."></a>
                    <p class="section-para">Event production is more than event planning and design. Our team will be there every step of the way bringing together every detail required to deliver a spectacular, memorable event on time and on budget.</p>
                </div>
        </div>
    </div>
</section>