<section class="subServices"
  style="background-repeat: no-repeat; background-position: center top; background-size: cover; height: 300px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-5 hidden">

      </div>
      <div class="col-md-6">
        <h1 class="text-center text-white" style="font-size: 40px;">CORPORATE EVENT PLANNING</h1>
      </div>
    </div>
  </div>
</section>  
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 section-para">
                <div>
                    <p>The corporate world is fast-paced and full of details. When partnering with Avenue Hospitality, we take care of those details while creating a unique experience for your guests that coincides with your company’s vision. </p>
                </div>
                <div>
                    <p>Whether it’s attracting new customers, educating your employees, or celebrating company milestones, we’ll help you create and execute the event strategy you have in mind. Once booked, we will collaborate with you to build the foundation of your event, creating an inspiration board and floor plan based on your goals. Then from the production to design, your Avenue team will bring your brand to life through our high quality planning and management services, as well as day-of coordination.</p>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div>
                    <img src="https://www.membersuite.com/wp-content/uploads/2020/12/5MarketUsingEvents.jpg" alt="" class="sqs-block-image">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4  d-flex justify-content-center">
                <div>
                    <div>TYPES OF EVENT</div>
                    <div>
                        <ul>
                            <li>Meetings, seminars, speakers, training</li>
                            <li>Company announcements, product launches or releases, milestone celebrations</li>
                            <li>Team-building days, executive retreats</li>
                            <li>Conferences, trade shows, networking events</li>
                            <li>Fundraisers, auctions, charity events</li>
                            <li>Holiday parties, annual parties, employee appreciation</li>
                            <li>Anything else you need!</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div>
                    <img src="https://www.raretumors-children.eu/wp-content/uploads/sites/3/2021/10/Expert-2-400x250.png" alt="" class="sqs-block-image">
                </div>
            </div>
            <div class="col-md-4  d-flex justify-content-center">
                <div>
                    <div>EVENT SERVICES</div>
                    <div>
                        <ul>
                            <li>On-site Coordination & Management</li>
                            <li>Meeting Planning</li>
                            <li>Brand Integration</li>
                            <li>Rentals & Vendor Coordination</li>
                            <li>Floor Plan Design</li>
                            <li>Budget Management</li>
                            <li>Staging</li>
                            <li>Security & Staffing</li>
                            <li>Entertainment</li>
                            <li>Transportation & Parking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>