<!-- Masthead-->
<header class="masthead mb-1">
    <div class="dropdown pb-5">
        <button class="dropbtn">
            <% if(user){ %> 
                <%= user.name %> 
            <% }else { %> 
                Account
            <% } %> 
        </button>
        <div class="dropdown-content">
            <% if(user){ %> 
                <a href="/logout">logout</a>
            <% }else { %> 
                <a href="/login">login</a>
            <% } %>
        </div>
      </div>
    <div class="container">
        
        <div class="masthead-subheading">Avenue Event Planners</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="tel:828-156-7322">Call Now</a>
    </div>
</header>
<section class="page-section" style="background-color: #ff99bb;">
    <div class="container">
        <div class="text-center pt-2">
            <h2 class="" style="font-family: 'Satisfy',cursive;">Avenue</h2>
            <h2 class="section-heading text-uppercase">Event Planning & Design</h2>
            <div class="row pt-5 section-para">
            <p style="text-align: center;">The Avenue Hospitality experience is unlike any other. Our full-service event planning and design team will guide you every step of the way, ensuring a stress-free experience from start to finish.</p>
            <p style="text-align: center;">With us, customization is guaranteed. From the very beginning, we will create a custom proposal tailored to your specific wants and needs. You'll be paired with an Avenue Event Team who will collaborate with you to bring your vision to life. We will team up with some of the best vendors in Nashville and take care of the all the details like meeting scheduling, delivery dates, payments, day-of setup, and more.</p>
            <p style="text-align: center;">When it’s showtime, our staff will work tirelessly to guarantee your event is effortless and unforgettable.</p>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-3">
            <a href="/about" class="btn btn-info btn-xl" >FIND OUT MORE</a>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section p-5 bg-light" id="services">
    <div class="container">
        <div class="text-center pt-5">
            <h2 class="section-heading text-uppercase" >Services</h2>
        </div>
        <div class="row text-center pb-5" style="color: #093a15">
            <div class="row col-lg-4 d-flex justify-content-center pt-5">
                <h3 class="serviceHeading">Social Gathering</h3>
                <a href="/socialGathering"><img src="/images/social-gathering.jpg" class="sqs-block-image border border-success" alt="..."></a>
            </div>
            <div class="row col-lg-4 d-flex justify-content-center pt-5">
                <h3 class="serviceHeading">Wedding</h3>
                <a href="/wedding"><img src="/images/weddingService.jpg" class="sqs-block-image border border-success" alt="..."></a>
            </div>
            <div class="row col-lg-4 d-flex justify-content-center pt-5">
                <h3 class="serviceHeading">Corporate Events</h3>
                <a href="/corporateEvent"><img src="/images/corporateEvent.jpg" class="sqs-block-image border border-success" alt="..."></a>
            </div>
        </div>
    </div>
    <div style="height: 100px;"></div>
</section>
<!--get in touch-->
<section class="page-section bg-info getInTouch-section">
    <div class="container ">
        <div class="row">
            <div class="section-para getInTouch-para pt-4">
                <p class="d-flex justify-content-center">Ready to start planning an event that is truly and naturally yours?</p>
                <p class="d-flex justify-content-center">Let’s work together.</p>
            </div>
            <div class="d-flex justify-content-center pt-3">
                <a href="/contact" class="btn btn-xl btn-primary text-center">GET IN TOUCH</a>
            </div>
        </div>
    </div>
</section>

