
    <section class="portfolioHeader"
    style="background-repeat: no-repeat; background-position: center top; background-size: cover; height: 300px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-5 hidden">
  
        </div>
        <div class="col-md-6">
          <h1 class="text-center text-white reheader">PORTFOLIO</h1>
        </div>
      </div>
    </div>
  </section>
    <section>
        <div class="container mt-5">
            <div class="row ">
                <% portfolios.forEach((portfolio)=>{ %> 
                <div class="col-lg-6 col-xl-4	p-5 d-flex justify-content-center">
                        <img src="/images/portfolio/<%= portfolio._id %>.jpg"
                            class=" sqs-block-image align-center " alt="...">
                </div>
                <% }) %> 
            </div>
        </div>
    </section>

    
    