<section class="bg-info"
  style="background-repeat: no-repeat; background-position: center top; background-size: cover; height: 300px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-5 hidden">

      </div>
      <div class="col-md-6">
        <h1 class="text-center text-white" style="font-size: 40px;">SOCIAL GATHERING PLANNING</h1>
      </div>
    </div>
  </div>
</section>  
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 section-para">
                <div>
                    <p>From a show stopping engagement celebration to an epic surprise birthday party or even a high school prom, you dream it and we will make your vision a reality.</p>
                </div>
                <div>
                    <p>The Infinity Experience is unlike any other. Our team will guide you every step of the way, ensuring a stress-free planning experience from start to finish.</p>
                </div>
                <div>
                    <p>From the very beginning, our team will create a custom proposal based on your wants and needs. Once booked, your Infinity event team will collaborate with you to build the foundation of your event, creating an inspiration board and floor plan based on your unique vision.</p>
                </div>
                <div>
                    <p>We will team up with some of the best vendors in Nashville and our staff will work tirelessly to guarantee your event is effortless and unforgettable.</p>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div>
                    <img src="https://www.ciquk.org/wp-content/uploads/2017/09/wedding-event-1.jpg" alt="" style="width:470px; height: 350px;">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div>
                    <img src="https://www.ciquk.org/wp-content/uploads/2017/09/wedding-event-1.jpg" alt="" style="width:470px; height: 350px;">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div>EVENT SERVICES</div>
                    <div>
                        <ul>
                            <li>On-site Coordination & Management</li>
                            <li>Event Planning & Design</li>
                            <li>Event Rentals</li>
                            <li>Vendor Coordination</li>
                            <li>Floor Plan Design</li>
                            <li>Budget Management</li>
                            <li>Staging</li>
                            <li>Security & Staffing</li>
                            <li>Entertainment</li>
                            <li>Transportation & Parking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>