<section class="subServices"
  style="background-repeat: no-repeat; background-position: center top; background-size: cover; height: 300px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-5 hidden">

      </div>
      <div class="col-md-6">
        <h1 class="text-center text-white" style="font-size: 40px;">WEDDING PLANNING</h1>
      </div>
    </div>
  </div>
</section>  
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 section-para">
                <div>
                    <p>Our team is here to make the day you've always dreamed of, the day you'll never forget.</p>
                </div>
                <div>
                    <p>From the very beginning, we will create a custom proposal based on your wants and needs. Once booked, your Avenue event team will collaborate with you to build the foundation of your wedding, creating an inspiration board and floor plan based on your unique vision. From unique lighting to seating charts, with us customization is guaranteed.</p>
                </div>
                <div>
                    <p>We care about the experience of planning your wedding from start to finish. So relax and have fun. Your Avenue event team will guide you every step of the way, ensuring your big day is effortless and unforgettable.</p>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div>
                    <img src="https://cdn0.weddingwire.in/vendor/8722/3_2/960/jpg/social-events.jpeg" alt="" class="sqs-block-image">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pt-2">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div>
                    <img src="https://cdn0.weddingwire.in/vendor/4370/3_2/960/jpg/rx7a1618-copy_15_74370-161336940617385.jpeg" alt="" class="sqs-block-image">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div>EVENT SERVICES</div>
                    <div>
                        <ul>
                            <li>Ceremony & Reception Coordination</li>
                            <li>Rehearsal Dinner Coordination</li>
                            <li>Rentals & Vendor Coordination</li>
                            <li>Wedding Day Timeline</li>
                            <li>Floor Plan Design</li>
                            <li>Wedding Concept & Design</li>
                            <li>Budget Management</li>
                            <li>Security & Staffing</li>
                            <li>Tenting</li>
                            <li>Transportation & Parking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>